" vim: set ft=vim :
scriptencoding utf-8

if &compatible
  set nocompatible
endif" vim

" ftplugin
filetype plugin indent on
filetype plugin indent off

" remote polugin
let g:python3_host_prog = 'C:\Python38\python.exe'

