" vim: set ft=vim :
scriptencoding utf-8

let g:fzf_command_prefix = 'Fzf'

if has('win32') || has('win64')
  command! -bang -nargs=* FzfRg
    \ call fzf#vim#grep(
    \   'rg --column --line-number --hidden --no-heading --smart-case --color=always "'.<q-args>.'"', 1,
    \   <bang>0 ? fzf#vim#with_preview({'options': '--delimiter : --nth 4..'}, 'up:60%')
    \   : fzf#vim#with_preview({'options': '--delimiter : --nth 4..'}, 'right:50%:hidden', '?'),
    \   <bang>0)
endif

