" vim: set ft=vim :
scriptencoding utf-8

let g:EasyMotion_do_mapping = 0
let g:EasyMotion_smartcase = 1

nmap <Leader>e <Plug>(easymotion-overwin-f2)
nmap <Leader>E <Plug>(easymotion-overwin-f)
map <Leader>j <Plug>(easymotion-j)
map <Leader>k <Plug>(easymotion-k)

