" vim: set ft=vim :
scriptencoding utf-8

" syntax highlight
syntax on
set synmaxcol=480

" window
set columns=120
set lines=40

" font
" set guifont=Consolas:h10
" set guifontwide=Consolas:h10

" color
colorscheme desert
set background=dark

" search
set hlsearch

" cursor
" set cursorcolumn
" set cursorline

" scroll
set scrolloff=3

" status line
set display+=lastline
set laststatus=2
set list
set listchars=tab:^\ ,trail:~ ",eol:$,extends:<
set showcmd
set showmode
set statusline=
set statusline+=%r
set statusline+=\ %<%F
set statusline+=\ [%{&ff}]
set statusline+=\ [%{(&fenc!=''?&fenc:&enc).(&bomb?':BOM':'')}]
set statusline+=\ %y
set statusline+=\ %m
set statusline+=%=
set statusline+=\ %l
set statusline+=\ \/\ %L
set statusline+=\ (%3p%%)

" tab
set showtabline=2
set guioptions-=e

" menu
set guioptions-=m

" toolbar
set guioptions-=T

" misc
let loaded_matchparen = 1
set cmdheight=2
set colorcolumn=100
set number
set ruler
set noshowmatch
" set matchtime=3
set shortmess+=Ic
set title
" set renderoptions=type:directx
set updatetime=300
set signcolumn=yes

